@charset="utf-8";
html{
 	font-size:100px;
 }

@media only screen and (min-width: 320px){
  html {
    font-size: 100px !important;
  }
}
@media only screen and (min-width: 360px){
  html {
    font-size: 110px !important;
  }
}
@media only screen and (min-width: 375px){
  html {
    font-size: 112px !important;
  }
}
@media only screen and (min-width:412px){
  html {
    font-size: 121px !important;
  }
}
@media only screen and (min-width:414px){
  html {
    font-size: 122px !important;
  }
}


@media only screen and (min-width: 750px){
  html {
    font-size: 180px !important;
  }
}

@media only screen and (min-width: 768px){
  html {
    font-size: 215px !important;
  }
}

@media only screen and (min-width: 1024px){
  html {
    font-size: 250px !important;
  }
}

body{
	background: #eee;
	width:100%;
	height:100%;
    font-size:10px;
    color:#333;
    overflow-x: hidden;
}
header{
	width:100%;
	height:0.3rem;
    line-height: 0.3rem;
	background: #fff;
	font-size: 0.16rem;
	text-align:center;
    position:relative;
    border:1px solid #eee;
    color:#222;
}
header img{
    position:absolute;
    right:0.1rem;
    width:0.16rem;
    height:0.16rem;
    top:0.07rem;
}
.zt{
    width:100%;
    background: #fff;
    height: 1.3rem;
    border-bottom: 1px solid #eee;
}
.zt h3{
    font-size: 0.16rem;
    padding:0.1rem;
}
 .swiper-container {
        width: 100%;
        height:0.75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: #fff;
    }
    .swiper-slide {
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        border-radius: 0.1rem;
        position: relative;
    }

    .swiper-slide img{
        width:100%;
        height:100%;
        border-radius: 0.1rem;
    }
    .img_con{
        position: absolute;
        width:100%;
        height: 0.75rem;
        background: rgba(0,0,0,0.1);
        top:0;
        left:0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.1rem;
        color:#fff;
        font-size: 0.12rem;
    }
.tj{
    width:100%;
    height:19.8rem;
    background: #fff;
}
.tj h3{
    font-size: 0.16rem;
    padding:0.1rem;
}
.container{
      width:98%;
      margin: 0 auto;
    }
    /*瀑布流层*/
    .waterfall{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari 和 Chrome */
        column-count:2;
        -moz-column-gap: 0.1rem;
      -webkit-column-gap: 0.1rem;
      column-gap: 0.1rem;
    }
    /*一个内容层*/
    .item{
      padding: 0.1rem;
      margin: 0 0 0.1rem 0;
      -moz-page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
     border: 1px solid #eee;
    }
    .item img{
        width: 100%;
        margin-bottom:0.1rem;
    }
    .item p{
        font-size: 0.14rem;
    }















footer{
    width:100%;
    height:0.4rem;
    position: fixed;
    bottom:0px;
    background: #fff;
    box-shadow: 0px 2px 10px #666;
}
footer ul{
    width:100%;
    height:0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.16rem;
    font-weight:400;
    color: #666;
}
footer ul li p{
    font-size: 0.1rem;
    font-family: "华文仿宋";
}
footer ul li{
    text-align: center;
}
footer ul li a{
    color:#333;
}
footer ul li:nth-of-type(4){
    color:#5BA997;
}